
<!-- Page content -->
<div class="container mt--8 pb-5"    >
    <!-- Table -->
    <div class="row justify-content-center"  >
        <div class="col-lg-5 col-md-7">
            <div class="card-header shadow border-0">
                <div class="card-header bg-transparent pb-5">
                    <div class="text-center">
                        <a href="javascript:void(0)" class="btn btn-neutral btn-icon mr-4">
                            <span class="btn-inner--icon"><img src="assets/img/icons/common/github.svg"></span>
                            <span class="btn-inner--text">Github</span>
                        </a>
                               </div>
                </div>
                
                
                <div class="card-body px-lg-5 py-lg-5">
                   
                    <form role="form"  class="fw-bolder"  #f="ngForm" >
                        <div class="form-group">
                            <div class="input-group input-group-alternative
                             mb-3">
                                <div class="input-group-prepend">
             
                                </div>
                            <div>
                                <input ngModel name="name" #name="ngModel" required
                                class="form-control" placeholder="Name" type="text" change="onChangeEvent(r)" > 
                            </div>
                            <div class="alert alert-danger" *ngIf="name.invalid && name.touched">Name is required</div>
                        </div>
                    </div>
                        <div class="form-group">
                            <div class="input-group input-group-alternative mb-3">
                            <div>
                                <input ngModel name="email" #email="ngModel" required email
                                 class="form-control" placeholder="Email" type="email">
                            </div>
                                 <div class="alert alert-danger" *ngIf="name.invalid && name.touched">Email is required</div>
                                 <div class="alert alert-danger" *ngIf="name.invalid && name.errors?.email">not email</div>
                                </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-alternative">

                                <input input ngModel name="password" #password="ngModel" required minlength="6"
                                class="form-control" placeholder="Password" type="password">
                            </div>
                            <div class="alert alert-danger" *ngIf="name.invalid && name.touched"> password is required</div>
                        </div>
                        <div class="row my-4">
                            <div class="col-12">
                             
                            </div>
                        </div>
                        <div class="text-center">
                            <button  (click)="signup(f)"
                            type="button" class="btn btn-primary mt-4" >Create account</button>
                        </div>
                    </form>
        
            </div>
        </div>
    </div>
    </div>
</div>